<h2>Adding ticket for Flight <%= flight.id %></h2>

<form id="add-performer-form" action="/flights/<%= flight.id %>/tickets" method="POST">
  <label>Seat:</label>
  <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
  <label>Price:</label>
  <input type="number" name="price">
  <input type="submit" value="Add Ticket">
</form>