body {
  
  background-color: #ffc1aa;
}



h1{
  position: absolute;
  top: 10%;
  padding: 20px 0 0 3vh;
  left: 10vh;
 
  height: 15vh;
  width: 36vh;
  
  font-size: 4.5vh;
  color: rgb(0, 0, 0);
  
}
#linkhome {
  padding: 1vh 1vh 1vh 1vh;
  margin: 0 0 0 2vh;
  background-color: rgba(0, 255, 191, 0.678);
  
  
}
#homepage {

  position: absolute;

  
  height: 100vh;
  left: 30%;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  
}
#linkflight {
  padding: 1vh 1vh 1vh 1vh;
  background-color: rgba(0, 255, 191, 0.678);
  
  

}
ul {
  position: absolute;
  top: 20%;
  padding: 23px;
  left: 10vh;
  
  
}
a {
  color: rgb(13, 0, 43);
  font-size: 3vh;

  
  
  
 
}
#headimg {
  height: 22vh;
  position: absolute;
  left: 3%;
  margin: 10vh 0 0 6vh;
  box-shadow: 0 4px 11px 1px black;
}
