<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200&display=swap" rel="stylesheet">

  
  <link rel='stylesheet' href='/stylesheets/new.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <img id="headimg" src ="https://i.imgur.com/9t0PiTX.png">
    <h1>New Flights</h1>
    <div id=""inputarea">
    <form action="/flights" method="POST">
      
        <label>Airline:
            <select name="airline">
                <option value="American">American</option>
                <option value="Southwest">Southwest</option>
                <option value="United">United</option>
            </select>
        </label><br>
        <label>Airport:
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="DEN" selected>DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>
        </label><br>
        <lable>Flight #:
            <input type="number" name="flightNo">
        </lable><br>
        <label>Departs:
            <input type="datetime-local" name="departs">
        </label>
      </div>
        <button id="save" type="submit">Save</button>

        <a id="home" href="/">Home</a>
        <a id="linkflight" href="/flights">All Flights</a>
        <img id="airport" src="https://i.imgur.com/xihsWTt.png">

      
        
     
    </form>
</body>
</html>